
dotfiles/vim/.vim/bundle/
3rd/
.netrwhist
__pycache__

# We ignore .vim globally, but not in the config repo
!.vim
plugged

dotfiles/git/.gitconfig
linux/.config/lazygit/state.yml
linux/.config/dconf/user
linux/.config/QtProject.conf
linux/.config/configstore/update-notifier-npm.json
linux/.config/flameshot/flameshot.ini
linux/.config/gtk-2.0/gtkfilechooser.ini
linux/.config/htop/htoprc
linux/.config/manjaro/manjaro-settings-manager.conf
linux/.config/QtProject.conf
linux/.config/mimeapps.list
linux/.config/pavucontrol.ini
linux/.config/zoom.conf
linux/.config/ngrok/ngrok.yml
linux/.config/syncthing
linux/.config/spotify-tui/client.yml
linux/.config/spotify-tui/.spotify_token_cache.json
linux/.config/epdfview/main.conf
linux/.config/libfm/libfm.conf
linux/.config/pcmanfm/default/pcmanfm.conf
