# Ignore everything
#*/

# ...even if they are in subdirectories
#!*/

# But not these files...
!.gitignore
!alacritty/**
!clipit/**
!compton.conf/**
!cura/**
!i3/**
!i3blocks/**
!i3lock/**
!ranger/**
!README.md/**
!rofi/**
!qtile/**
!nvim/**
!sgtk-menu/**


Android Open Source Project
Bitwarden
Bitwarden CLI
BraveSoftware
Dharkael
Element
Ferdi
Ferdium
Foxit Software
FreeCAD
GIMP
Google/AndroidStudio4.1
JetBrains
Kvantum
Mousepad
ObinsKit
OpenSCAD
Rambox
Slack
Station
VirtualBox
autostart
blender
calibre
cef_user_data
chromium
clipit.bak
clojure
coc
configstore
cura
dmenu-recent
enchant
falkon
flutter
gconf
gitmoji-nodejs
glab-cli
hexchat
jesseduffield
libreoffice
lvim
obs-studio
obsidian
pulse
spotify
tg
unity3d
vlc
yarn
zoomus.conf
