# Ignore everything
#*/

# ...even if they are in subdirectories
#!*/

# But not these files...
!.gitignore
!alacritty/**
!clipit/**
!compton.conf/**
!cura/**
!i3/**
!i3blocks/**
!i3lock/**
!ranger/**
!README.md/**
!rofi/**
!qtile/**
!nvim/**
!sgtk-menu/**

Bitwarden
Bitwarden CLI
BraveSoftware
cef_user_data
chromium
cura
falkon
Ferdium
GIMP
glab-cli
JetBrains
Kvantum
libreoffice
lvim
obsidian
pulse
Slack
spotify
tg
zoomus.conf
