[general]
download_path        = /home/jcano/Downloads
preview_path         = /home/jcano/Downloads
cmd_prefix           = /
show_command         = jp2a --color
enable_notifications = false
use_terminal_bell    = false
notification_timeout = 60
backlog_msg_quantity = 10

[keymap]
switch_panels    = Tab
focus_messages   = Ctrl+w
focus_input      = Ctrl+Space
focus_chats      = Ctrl+e
copyuser         = Ctrl+c
pasteuser        = Ctrl+v
command_backlog  = Ctrl+b
command_read     = Ctrl+n
command_connect  = Ctrl+r
command_quit     = Ctrl+q
command_help     = Ctrl+?
message_download = d
message_open     = o
message_show     = s
message_url      = u
message_info     = i
message_revoke   = r

[ui]
chat_sidebar_width = 30

[colors]
background       = black
text             = white
forwarded_text   = purple
list_header      = yellow
list_contact     = green
list_group       = blue
chat_contact     = green
chat_me          = blue
borders          = white
input_background = blue
input_text       = white
unread_count     = yellow
positive         = green
negative         = red

