services:
  'gitlab.ravenpack.com': 'gitlab:gitlab.ravenpack.com'
gui:
  showFileTree: false
os:
  # edit: 'nvim {{filename}}'
  # editAtLine: 'nvim  +{{line}} -- {{filename}}'
  # From https://github.com/kdheepak/lazygit.nvim/issues/67#issuecomment-2614658070
  edit: "nvim --server $NVIM --remote-send '<cmd>close<cr><cmd>lua EditFromLazygit({{filename}})<CR>'"
  editAtLine: "nvim --server $NVIM --remote-send '<cmd>close<CR><cmd>lua EditLineFromLazygit({{filename}},{{line}})<CR>'"
customCommands:
  - key: '<f1>'
    command: 'glab mr view -w'
    context: 'global'
  - key: '<f2>'
    command: 'jira-open-branch'
    context: 'global'
  - key: '<f1>'
    command: 'glab mr view -w {{.SelectedLocalBranch.Name}}'
    context: 'localBranches'
  - key: '<f2>'
    command: 'jira-open-branch {{.SelectedLocalBranch.Name}}'
    context: 'localBranches'
  - key: '<f3>'
    command: 'worktreebranch {{.SelectedLocalBranch.Name}}'
    context: 'localBranches'
  - key: '<f3>'
    command: 'dragon-drop {{.SelectedFile.Name}}'
    context: 'files'
git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
  commitPrefixes:
    # This is the project name
    smart-topics:
      - pattern: "^(\\w+\\-\\d+).+$"
        replace: "$1: "
    # This is the project name
    rp-cdk:
      - pattern: "^(\\w+\\-\\d+).+$"
        replace: "$1: "
